.baner_footer {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 50px;
}
.conatiner_footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 50px;
}
.title_footer {
	color: rgb(255, 255, 255);
	font-size: 35px;
}
.text_footer {
	color: #d9ded7;
	font-size: 17px;
	margin-bottom: 60px;
}
.footer_input {
	background: none;
	border: 1px solid rgb(255, 255, 255);
	width: 320px;
	padding: 10px 15px;
	margin-top: 20px;
}
.footer_input::placeholder {
	color: white;
}
.container_input {
	width: 1090px;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 50px;
}
.foter_down {
	display: flex;
	align-items: center;
	background-color: #111111;
	padding: 50px 140px;
}
@media (max-width: 1070px) {
	.container_input {
		width: 1090px;
		max-width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
}
@media (max-width: 730px) {
	.footer_input {
		width: 100%;
	}
	.conatiner_footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 20px;
	}
	.foter_down {
		display: flex;
		align-items: center;
		background-color: #111111;
		padding: 50px 20px;
	}
}
